<ion-grid class="layout-grid" no-padding>
  <ion-row class="layout-header">
    <ion-icon class="layout-logo-size" src="/assets/e43-logo.svg"></ion-icon>
  </ion-row>
  <ion-row class="layout-body">
    <ion-card class="layout-card">
      <ion-card-header>
        <ion-card-title>
          <ng-content select=`[title]`></ng-content>
        </ion-card-title>
        <ion-card-subtitle>
          <ng-content select=`[description]`></ng-content>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ng-content select=`[content]`></ng-content>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-grid>

