<ion-content>
  <LayoutComponent>
    <p title class="title">First things first</p>
    <p description no-margin>Let us know something before getting started</p>
    <div content>
      <ion-list no-padding>
        <SelectProjectsComponent (selectedProjects)="handleProjects($event)"></SelectProjectsComponent>
        <SelectUserComponent [projects]="selectedProjects" [user]="selectedUser" (selectedUser)="handleUser($event)"></SelectUserComponent>
      </ion-list>
      <ion-button (click)="login()" expand="block" [disabled]="!selectedUser || !selectedProjects">Let's go</ion-button>
    </div>
  </LayoutComponent>
</ion-content>
