<ion-content>
  <LayoutComponent>
    <p title no-margin>First things first</p>
    <p description no-margin>Let us know something before getting started</p>
    <div content>
      <ion-list no-padding>
        <ion-item>
          <ion-label position="stacked">Gitlab user <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Select your projects <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
        </ion-item>
      </ion-list>
    </div>
  </LayoutComponent>
</ion-content>
