<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title>New daily</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding>
  <ion-slides scrollbar="true">

    <ion-slide>
      <img src="/assets/develop-issues.svg"/>
      <h2>Issues <b>developing</b></h2>
      <p>
        Yesterday I worked on:
        <ion-button slot="icon-only" fill="clear" (click)="toIssuesMgt('Issues developed yesterday')">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </p>
      <div style="border: 1px solid red; height: 30%; margin: 5%;">

      </div>
      <p>
        Today I'll work on:
        <ion-button slot="icon-only" fill="clear"><ion-icon name="arrow-forward"></ion-icon></ion-button>
      </p>
      <div style="border: 1px solid red; height: 30%; margin: 5%;">

      </div>
    </ion-slide>

  </ion-slides>
</ion-content>
