<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        Cancel
      </ion-button>
    </ion-buttons>
    <ion-title>New daily</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding>
  <ion-slides scrollbar="true">

    <ion-slide>
      <AccordionComponent *ngFor="let section of sections"
                          [name]="section.name"
                          [image]="section.image"
                          [object]="section"
                          (change)="captureObject($event)">
        <IssuesMgtComponent *ngIf="selectedSection"
                            [source]="selectedSection.source">
        </IssuesMgtComponent>
      </AccordionComponent>
    </ion-slide>

  </ion-slides>
</ion-content>
