.swiper-slide {
  display: block;
}
.swiper-container {
  height: 100%;
}
ion-slides{
  overflow-y: scroll;
}
ion-slide > img {
  max-height: 20%;
  max-width: 40%;
}
ion-slide > p {
  display: flex;
  justify-content: center;
  align-items: center;
}